<div id="right-sidebar">
	<div id="fb-follow-sidebar">
		<h4>Theo dõi trên facebook</h4>
		<p>Bấm nút thích để nhận thông báo khi có bài viết mới</p>
		<div style=" width: 100px !important; margin: 10px auto !important; display: block;" class="fb-like" data-href="https://www.facebook.com/laptrinhcuocsongdotcom/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
		<h4>Theo dõi trên youtube</h4>
		<p>Đăng ký kênh youtube để theo dõi các video mới</p>
		<div id="youtube_subscrible" style="display: block; margin: 0px auto; text-align: center;">
			<div class="g-ytsubscribe" data-channelid="UC5CIt5W4kq4ie0KJEdg2ztg" data-layout="default" data-count="default"></div>
		</div>
	</div>
	<div class="links" id="sidebar_links">
		<h3>Blog bạn bè</h3>
		<ul>
			<li><a target="_blank" href="http://toidicodedao.com">Tôi đi code dạo</a></li>
			<li><a target="_blank" href="https://cuongquach.com">Cường Quách blog</a></li>
			<li><a target="_blank" href="https://niviki.com">Niviki.com</a></li>
			<li><a target="_blank" href="https://yellowcodebooks.com">Yellow code</a></li>
			<li><a target="_blank" href="http://giaosucan.com">Giaosucan's Blog</a></li>
		</ul>
	</div>
</div>