<div id="right-sidebar">
	<div id="socials-follow">
		<h4>Theo dõi trên facebook</h4>
		<div class="fb-page" data-href="https://www.facebook.com/laptrinhcuocsongdotcom/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/laptrinhcuocsongdotcom/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/laptrinhcuocsongdotcom/">Lập trình cuộc sống chấm com</a></blockquote></div>
		<h4>Theo dõi trên youtube</h4>
		<div class="youtube_subscrible">
			<div class="g-ytsubscribe" data-channelid="UC5CIt5W4kq4ie0KJEdg2ztg" data-layout="full" data-count="default"></div>
		</div>
	</div>
	
	<div style="width: 100%; background-color: red; color: white; font-size: 17px; font-weight: bold;padding: 15px;line-height: 24px;">
		Lịch live stream:<br>
		22h tối nay (13/5/2018) trên Facebook fanpage
	</div>

	<div class="links" id="sidebar_links">
		<h3>Blog bạn bè</h3>
		<ul>
			<li><a target="_blank" href="http://toidicodedao.com">Tôi đi code dạo</a></li>
			<li><a target="_blank" href="https://cuongquach.com">Cường Quách blog</a></li>
			<li><a target="_blank" href="https://niviki.com">Niviki.com</a></li>
			<li><a target="_blank" href="https://yellowcodebooks.com">Yellow code</a></li>
			<li><a target="_blank" href="http://giaosucan.com">Giaosucan's Blog</a></li>
		</ul>
	</div>
</div>
