<div id="sidebar">
	<nav id="categories">
		<ul>
			<li><a href="{{ site.site_url }}">Trang chủ</a></li>
			<li><a href="{{ site.site_url }}/chuyen-nghe-nghiep.html">Chuyện nghề nghiệp</a></li>
			<li><a href="{{ site.site_url }}/chuyen-lap-trinh.html">Chuyện lập trình</a></li>
			<li><a href="{{ site.site_url }}/chuyen-ben-le.html">Chuyện bên lề</a></li>
			<li><a href="{{ site.site_url }}/chuyen-cuoc-song.html">Chuyện cuộc sống</a></li>
			<li><a href="{{ site.site_url }}/linux-ubuntu.html">Linux - ubuntu</a></li>
			<li><a href="{{ site.site_url }}/video.html">Video trên youtube</a></li>
			<li><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSelxVBIAXxrtOgyfJZ9GXXnbKKK6r5xbJKxodNPUoElNnsBCg/viewform" style="color: #da0000">Yêu cầu viết bài</a></li>
			
		</ul>
	</nav>

</div>
