<div id="sidebar">
	<nav id="categories">
		<ul>
			<li><a href="{{ site.site_url }}">Trang chủ</a></li>
			<li class="only-small"><a href="{{ site.site_url }}/gioi-thieu.html">About me</a></li>
			<li class="only-small"><a href="https://ư.facebook.com/laptrinhcuocsongdotcom/">Fanpage</a></li>
			<li class="only-small"><a href="{{ site.site_url }}/bai-viet-hay.html">Bài viết hay</a></li>
			<li><a href="{{ site.site_url }}/chuyen-nghe-nghiep.html">Chuyện nghề nghiệp</a></li>
			<li><a href="{{ site.site_url }}/chuyen-lap-trinh.html">Chuyện lập trình</a></li>
			<li><a href="{{ site.site_url }}/linux-ubuntu.html">Linux - ubuntu</a></li>
			<li><a href="{{ site.site_url }}/chuyen-ben-le.html">Chuyện bên lề</a></li>
			<li><a href="{{ site.site_url }}/chuyen-cuoc-song.html">Chuyện cuộc sống</a></li>
			<li><a href="{{ site.site_url }}/video.html">Video</a></li>
			<li><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSelxVBIAXxrtOgyfJZ9GXXnbKKK6r5xbJKxodNPUoElNnsBCg/viewform" style="color: #da0000">Yêu cầu viết bài</a></li>
			
		</ul>
	</nav>
	<div id="fb-follow-sidebar">
		<h4 style=" text-align: right; padding-right: 25px; margin-top: 85px;">Theo dõi trên facebook</h4>
		<p style="padding: 10px 25px;    text-align: center;    font-size: 15px;">Bấm nút thích để nhận thông báo khi có bài viết mới</p>
		<div style=" width: 100px !important; margin: 10px auto !important; display: block;" class="fb-like" data-href="https://www.facebook.com/laptrinhcuocsongdotcom/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
	</div>
	<div class="links" id="sidebar_links">
		<h3>Blog bạn bè</h3>
		<ul>
			<li><a target="_blank" href="http://toidicodedao.com">Tôi đi code dạo</a></li>
			<li><a target="_blank" href="https://cuongquach.com">Cường Quách blog</a></li>
			<li><a target="_blank" href="https://niviki.com">Niviki.com</a></li>
			<li><a target="_blank" href="https://yellowcodebooks.com">Yellow code</a></li>
			<li><a target="_blank" href="http://giaosucan.com">Giaosucan's Blog</a></li>
		</ul>
	</div>
</div>
